.vscode/
decaNLP/.embeddings/
decaNLP/data/
decaNLP/models/__pycache__/
decaNLP/multiprocess/__pycache__/
decaNLP/results/
decaNLP/__pycache__/
SST-2.zip
cached_train_bert-base-uncased_384
runs/
temp.py
comet/pretrained_models/
comet/data/
comet/model/
comet/results/
mt_data/
*/.DS_STORE
*/__pycache__
